@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
/* Mobile first */
body{
    background-color: #FFBD00;
    color: black;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
}
p{
    font-size: 16px;
    line-height:130%;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
}
section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
    "header"
    "navigation"
    "main-content"
    "footer";
    grid-gap: 20px;
}
header{
    grid-area: header;
    padding: 10px;
}
nav{
    grid-area: navigation;
    display: flex;
    flex-direction: column; /* Meny för mobil */
}
nav a{
    flex: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    text-decoration: underline;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    margin-bottom: 7px;
}
a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}
main{
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
main article{
    padding: 10px;
}
footer{
    grid-area: footer;
}
.main-img{
    max-width: 100%;
    height: auto;
}
ul.social-list{
    text-align: center;
    padding: 30px;
}
ul.social-list li{
    display: inline-block;
    text-align: center;
    padding: 8px;
}
.youtube-responsive{
    width: 100%;
    height: 350px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Ändrar storlek på fonter */
    h1{
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    a{
        font-size:  15px;
    }
    /* Centrerar grid-container och bestämmer 1000px bredd */
    section.grid-container{
        width: 1000px;
        margin: 20px auto;
    }
    header{
        text-align: center;
    }
    /* Ändrar grid columns till 1fr 1fr (2 enheter bredvid varandra) */
    main{
        grid-template-columns: 1fr 1fr;
    }
    ul.social-list{ /* Döljer menyn med länkar till sociala medier */
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    /* Ändrar storlek på fonter */
    h1{
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
    a{
        font-size: 15px;
    }
    /* Centrerar grid-container och bestämmer 1000px bredd */
    section.grid-container{
        width: 1000px;
        margin: 20px auto;
    }
    header{
        text-align: center;
    }
    /* Ändrar grid columns till 1fr 1fr (2 enheter bredvid varandra) */
    main{
        grid-template-columns: 1fr 1fr;
    }
    nav{
        flex-direction: row; /* Ändrar menyn till på en rad */
    }
    ul.social-list{ /* Döljer menyn med länkar till sociala medier */
        display: none;
    }
}